// colors
$pink: hsl(322, 100%, 66%);
$veryPaleCyan: hsl(193, 100%, 96%);
$veryDarkCyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);

// font-familis
$fontPoppins: 'Poppins',
sans-serif;
$fontOpenSans: 'Open Sans',
sans-serif;

// font-sizes
$font-xlg: 4.1rem;
$font-lg: 2.9rem;
$font-md: 1.8rem;
$font-sm: 1.6rem;
$font-xs: 1.4rem;